In [1]:
import pandas as pd

In [50]:
gtf_data = pd.read_csv("/home/biodata/aman/gencode.v49.annotation.gtf.gz", sep="\t", header=6, comment="#")
gtf_data.columns = ["chr","source","feature","start","end","score","strand","frame","attribute"]

# extract gene_id and gene_name
gtf_data["gene_id"] = gtf_data["attribute"].str.extract('gene_id "([^"]+)"')
gtf_data["gene_name"] = gtf_data["attribute"].str.extract('gene_name "([^"]+)"')

In [51]:
gtf_data[["gene_id", "gene_name"]]

                   gene_id gene_name
0        ENSG00000290825.2  DDX11L16
1        ENSG00000290825.2  DDX11L16
2        ENSG00000290825.2  DDX11L16
3        ENSG00000290825.2  DDX11L16
4        ENSG00000290825.2  DDX11L16
...                    ...       ...
7750142  ENSG00000210195.2     MT-TT
7750143  ENSG00000210195.2     MT-TT
7750144  ENSG00000210196.2     MT-TP
7750145  ENSG00000210196.2     MT-TP
7750146  ENSG00000210196.2     MT-TP

[7750147 rows x 2 columns]

In [53]:
gtf_data = gtf_data[["gene_id", "gene_name"]].drop_duplicates()

In [54]:
gtf_data.to_csv('gtf_reference_genesymbols_ensemblid.tsv', sep="\t")

In [1]:
import re

path = "/home/biodata/aman/gencode.v49.annotation.gtf.gz"

m = re.search(r"gencode\.v\d+", path)
prefix = m.group(0) if m else None

print(prefix)

gencode.v49